#super-parent{
    height: 100vh;
    width:100%; 
    display: flex;
    flex-direction: row;

}

#left-box{
    display: flex;
    flex-direction: column;
    width: 20%;
    height:100%;
    padding: 20px;
    font-size: 25px;
    text-decoration: underline;
    background-image: linear-gradient(to left,rgb(247, 244, 240),rgb(248, 239, 228),rgb(252, 245, 236),antiquewhite);
}

#right-box{
   justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    padding: 20px 0px 20px 0px ;
}